@charset "UTF-8";
:root {
  --white: #ffffff;
  --black-900: #101010;
  --yellow-200: #ffea4d;
  --green-100: #e4f2ea;
  --green-150: #cde9d9;
  --green-200: #b7e3c9;
  --green-350: #4c966a;
  --green-400: #00a543;
  --green-500: #008837;
  --green-600: #006a2b;
  --green-700: #005020;
  --red-300: #da1612;
  --blue-400: #3c5bff;
  --grey-300: #e2e2e2;
  --grey-400: #cfcfcf;
  --grey-500: #929292;
  --grey-600: #767676;
  --grey-700: #525252;
  --shadow-main: 0px 2px 6px 0px #10101014;
  --shadow-text: 2px 2px 4px #003700;
  --background-page: var(--green-100);
  --font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  background: linear-gradient(90deg, #009a3e 0%, #006a2b 100%);
}
.header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: linear-gradient(90deg, #009a3e 0%, #006a2b 100%);
}
.header._active {
  box-shadow: var(--shadow-main);
}
.header._scroll .header__body {
  /* Если меньше контейнера */
  min-height: 46px;
}
@media (max-width: 1176px) {
  .header._scroll .header__body {
    min-height: calc(40px + 6 * (100vw - 320px) / 856);
  }
}
.header._scroll .header__logo {
  width: 220px;
  flex: 0 0 220px;
}
@media (min-width: 1099.98px) {
  .header._scroll .header__menu .menu-item-453 ul.sub-menu {
    margin-top: 11px;
  }
  .header._scroll .header__menu .menu-item-454 ul.sub-menu {
    margin-top: 11px;
  }
}
.header .htoc {
  padding: 0 16px;
  margin: 0px auto;
  max-width: 1176px;
}
.header .htoc .htoc__itemswrap ul li a {
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 100%;
  font-size: 15px;
}
.header .htoc .htoc__itemswrap:before, .header .htoc .htoc__itemswrap:after {
  background: linear-gradient(90deg, rgba(19, 46, 78, 0) 0%, #132e4e 100%);
}
.header .htoc .htoc__itemswrap:before {
  left: 15px;
}
.header .htoc .htoc__itemswrap:after {
  right: 15px;
}
@media (max-width: 767.98px) {
  .header .htoc .htoc__itemswrap:before, .header .htoc .htoc__itemswrap:after {
    display: none;
  }
}
.header .header__htoc {
  padding: 6px 0;
  width: 100%;
  position: relative;
  z-index: 5;
  background-color: #132e4e;
}
.header__body {
  /* Если меньше контейнера */
  min-height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: min-height 0.3s ease 0s;
}
@media (max-width: 1176px) {
  .header__body {
    min-height: calc(80px + -12 * (100vw - 320px) / 856);
  }
}
.header__logo {
  /* Если меньше контейнера */
  width: 280px;
  flex-grow: 0;
  flex-shrink: 0;
  /* Если меньше контейнера */
  flex-basis: 280px;
  position: relative;
  z-index: 6;
  transition: width 0.3s ease 0s, flex-basis 0.3s ease 0s;
}
@media (max-width: 1176px) {
  .header__logo {
    width: calc(245px + 35 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .header__logo {
    flex-basis: calc(245px + 35 * (100vw - 320px) / 856);
  }
}
.header__logo img {
  max-width: 100%;
}
.header__logo:not(:last-child) {
  margin-right: 16px;
}
.header__menu .menu-link-underline {
  text-decoration: underline;
}
@media (min-width: 1099.98px) {
  .header__menu ul.head_menu {
    column-gap: 32px;
    display: flex;
    align-items: center;
  }
  .header__menu ul li a {
    padding: 8px 0;
    column-gap: 6px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 6;
    transition: color 0.3s ease 0s;
    color: var(--white);
  }
  .header__menu ul li a ul.sub-menu li a {
    font-weight: 400;
  }
  .header__menu ul li.menu-item-has-children a:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    transition: transform 0.3s ease 0s, border-top-color 0.3s ease 0s;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 11px solid var(--white);
  }
  .header__menu ul li.menu-item-has-children:before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu {
    padding: 42px 54px 50px;
    margin-top: 4px;
    column-gap: 80px;
    row-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
    border-radius: 16px;
    border: 1px solid var(--yellow-200);
    background-color: var(--green-600);
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li a {
    padding: 0;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children a {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children:before {
    display: none;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children ul.sub-menu {
    padding: 0;
    margin-top: 0;
    column-gap: 0;
    row-gap: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    transition: none;
    border: none;
    transform: translateY(0);
    border-radius: 0px;
    background: transparent;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children ul.sub-menu li a {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children ul.sub-menu li a.menu-link-bold {
    font-weight: 700;
  }
  .header__menu ul li.menu-item-object-custom a:after {
    display: none;
  }
  .header__menu ul li:not(.menu-item-has-children) a:after {
    display: none;
  }
  .header__menu ul li.menu-item-451 ul.sub-menu {
    left: 0;
  }
  .header__menu ul li.menu-item-452 ul.sub-menu {
    width: 100%;
    left: 0;
  }
  .header__menu ul li.menu-item-453 {
    position: relative;
  }
  .header__menu ul li.menu-item-453 ul.sub-menu {
    margin-top: 22px;
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__menu ul li.menu-item-454 {
    position: relative;
  }
  .header__menu ul li.menu-item-454 ul.sub-menu {
    margin-top: 22px;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__menu ul li.menu-item-455 ul.sub-menu {
    right: 0;
  }
}
@media (min-width: 1099.98px) and (any-hover: hover) {
  .header__menu ul li:hover a {
    color: var(--yellow-200);
  }
  .header__menu ul li:hover.menu-item-has-children a:before {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .header__menu ul li:hover.menu-item-has-children ul.sub-menu li a:before {
    display: none;
  }
  .header__menu ul li:hover .menu-item-has-children a {
    color: var(--white);
  }
  .header__menu ul li:hover .menu-item-has-children a:hover {
    color: var(--yellow-200);
  }
  .header__menu ul li.menu-item-has-children:hover a:before {
    opacity: 1;
  }
  .header__menu ul li.menu-item-has-children:hover a:after {
    border-top-color: var(--yellow-200);
  }
  .header__menu ul li.menu-item-has-children:hover:before {
    opacity: 1;
  }
  .header__menu ul li.menu-item-has-children:hover ul.sub-menu {
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 1099.98px) {
  .header__menu {
    /* Если меньше контейнера */
    padding-top: 116px;
    padding-bottom: 48px;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: -110%;
    z-index: 2;
    overflow: auto;
    transition: left 0.3s ease 0s;
    background-color: var(--green-600);
  }
}
@media (max-width: 1099.98px) and (max-width: 1176px) {
  .header__menu {
    padding-top: calc(128px + -12 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1099.98px) {
  .header__menu ul.head_menu {
    border-bottom: 1px solid var(--green-350);
  }
  .header__menu ul li {
    width: 100%;
  }
  .header__menu ul li a {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--green-350);
    transition: background-color 0.3s ease 0s, border-top-color 0.3s ease 0s;
    background-color: transparent;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }
  .header__menu ul li.menu-item-has-children {
    position: relative;
  }
  .header__menu ul li.menu-item-has-children .arrow {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header__menu ul li.menu-item-has-children .arrow:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    transition: transform 0.3s ease 0s, border-top-color 0.3s ease 0s;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 11px solid var(--white);
  }
  .header__menu ul li.menu-item-has-children._active a {
    border-top-color: var(--yellow-200);
    background-color: var(--green-700);
    color: var(--yellow-200);
  }
  .header__menu ul li.menu-item-has-children._active .arrow:after {
    transform: rotate(180deg);
    border-top-color: var(--yellow-200);
  }
  .header__menu ul li.menu-item-has-children._active ul li a {
    border-top: 1px solid var(--green-350);
    background-color: transparent;
  }
  .header__menu ul li.menu-item-has-children._active ul li:not(._active) a {
    border-top: 1px solid var(--green-350);
    background-color: transparent;
    color: var(--white);
  }
  .header__menu ul li.menu-item-has-children._active ul li:not(._active) .arrow:after {
    border-top-color: var(--white);
    transform: rotate(0deg);
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  .header__menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children a._active {
    border-top-color: var(--green-350);
    background-color: transparent;
  }
  .header__menu._active {
    left: 0%;
  }
}
.header__burger {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
  cursor: pointer;
  background-color: transparent;
}
.header__burger span {
  width: 22px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-in-out 0s;
  background-color: var(--white);
}
.header__burger span:before, .header__burger span:after {
  content: "";
  width: 22px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: background-color 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  background-color: var(--white);
}
.header__burger span:before {
  top: -8px;
}
.header__burger span:after {
  top: 8px;
}
.header__burger._active span {
  background-color: transparent;
}
.header__burger._active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}
.header__burger._active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}
@media (min-width: 1099.98px) {
  .header__burger {
    display: none;
  }
}