@charset "UTF-8";
:root {
  --white: #ffffff;
  --black-900: #101010;
  --yellow-200: #ffea4d;
  --green-100: #e4f2ea;
  --green-150: #cde9d9;
  --green-200: #b7e3c9;
  --green-350: #4c966a;
  --green-400: #00a543;
  --green-500: #008837;
  --green-600: #006a2b;
  --green-700: #005020;
  --red-300: #da1612;
  --blue-400: #3c5bff;
  --grey-300: #e2e2e2;
  --grey-350: #4c966a;
  --grey-400: #cfcfcf;
  --grey-500: #929292;
  --grey-600: #767676;
  --grey-700: #525252;
  --shadow-main: 0px 2px 6px 0px #10101014;
  --shadow-text: 2px 2px 4px #003700;
  --background-page: var(--green-100);
  --font-family: "Poppins", sans-serif;
}

.big-table {
  /* Если меньше контейнера */
  gap: 24px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1176px) {
  .big-table {
    gap: calc(20px + 4 * (100vw - 320px) / 856);
  }
}
.big-table:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 24px;
}
@media (max-width: 1176px) {
  .big-table:not(:last-child) {
    margin-bottom: calc(20px + 4 * (100vw - 320px) / 856);
  }
}
.big-table__row {
  /* Если меньше контейнера */
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1176px) {
  .big-table__row {
    gap: calc(20px + 4 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1099.98px) {
  .big-table__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.big-table__column {
  /* Если меньше контейнера */
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (max-width: 1176px) {
  .big-table__column {
    gap: calc(20px + 4 * (100vw - 320px) / 856);
  }
}

.big-table-main {
  /* Если меньше контейнера */
  padding-top: 28px;
  /* Если меньше контейнера */
  padding-right: 32px;
  /* Если меньше контейнера */
  padding-left: 32px;
  /* Если меньше контейнера */
  padding-bottom: 28px;
  overflow-x: clip;
  border-radius: 16px;
  box-shadow: var(--shadow-main);
  background-color: var(--white);
}
@media (max-width: 1176px) {
  .big-table-main {
    padding-top: calc(16px + 12 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-main {
    padding-right: calc(16px + 16 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-main {
    padding-left: calc(16px + 16 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-main {
    padding-bottom: calc(16px + 12 * (100vw - 320px) / 856);
  }
}

.big-table-main-top {
  display: flex;
  align-items: center;
}
.big-table-main-top:not(:last-child) {
  margin-bottom: 20px;
}
.big-table-main-top__rating {
  padding: 2.5px 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--green-600);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.big-table-main-top__rating svg:not(:last-child) {
  margin-right: 6px;
}
.big-table-main-top__rating:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 16px;
}
@media (max-width: 1176px) {
  .big-table-main-top__rating:not(:last-child) {
    margin-right: calc(12px + 4 * (100vw - 320px) / 856);
  }
}
.big-table-main-top__title {
  /* Если меньше контейнера */
  font-size: 28px;
  font-weight: 700;
  line-height: 114.2857142857%;
}
@media (max-width: 1176px) {
  .big-table-main-top__title {
    font-size: calc(20px + 8 * (100vw - 320px) / 856);
  }
}

.big-table-main-content {
  display: flex;
}
@media (max-width: 1099.98px) {
  .big-table-main-content {
    flex-direction: column;
  }
}
.big-table-main-content__image {
  width: 255px;
  flex: 0 0 255px;
  padding-bottom: 14.5%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.big-table-main-content__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.big-table-main-content__image:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 1099.98px) {
  .big-table-main-content__image {
    padding-bottom: 300px;
    width: 100%;
    flex: none;
  }
  .big-table-main-content__image:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
@media (max-width: 479.98px) {
  .big-table-main-content__image {
    padding-bottom: 181px;
  }
}
.big-table-main-content__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.big-table-main-content__size {
  display: flex;
  flex: 0 0 418px;
}
.big-table-main-content__size:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 1099.98px) {
  .big-table-main-content__size {
    flex-direction: column;
    flex: none;
  }
  .big-table-main-content__size:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
.big-table-main-content__top {
  display: flex;
}
.big-table-main-content__top:not(:last-child) {
  margin-bottom: 16px;
}
.big-table-main-content__top .button {
  width: 100%;
  min-height: 64px;
  border-radius: 10px;
  line-height: 150%;
  font-size: 18px;
}
@media (max-width: 1099.98px) {
  .big-table-main-content__top {
    flex-direction: column;
    position: relative;
  }
  .big-table-main-content__top:not(:last-child) {
    margin-bottom: 24px;
  }
  .big-table-main-content__top:after {
    content: "";
    margin-top: 12px;
    width: 130%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: -40px;
    pointer-events: none;
    background-color: var(--grey-300);
  }
}
.big-table-main-content__bonus {
  padding: 8px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--grey-500);
  color: var(--black-900);
}
.big-table-main-content__bonus svg {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
}
.big-table-main-content__bonus svg:not(:last-child) {
  margin-right: 20px;
}
@media (any-hover: hover) {
  .big-table-main-content a.big-table-main-content__bonus {
    transition: color 0.3s ease 0s;
  }
  .big-table-main-content a.big-table-main-content__bonus:hover {
    color: var(--green-600);
  }
}
.big-table-main-content__bonus-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
}
.big-table-main-content__bottom {
  display: flex;
}
.big-table-main-content__bottom .link-copiado {
  width: 100%;
}
@media (max-width: 1099.98px) {
  .big-table-main-content__bottom {
    flex-direction: column;
  }
  .big-table-main-content__bottom .big-table-main-content__size {
    position: relative;
  }
  .big-table-main-content__bottom .big-table-main-content__size:not(:last-child) {
    margin-bottom: 24px;
  }
  .big-table-main-content__bottom .big-table-main-content__size:after {
    content: "";
    margin-top: 12px;
    width: 130%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: -40px;
    pointer-events: none;
    background-color: var(--grey-300);
  }
}
.big-table-main-content__item {
  /* Если меньше контейнера */
  padding-top: 18px;
  padding-right: 16px;
  padding-left: 16px;
  /* Если меньше контейнера */
  padding-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #da9000;
  box-shadow: 0px 0px 8px 0px rgba(255, 168, 0, 0.5019607843);
}
@media (max-width: 1176px) {
  .big-table-main-content__item {
    padding-top: calc(12px + 6 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-main-content__item {
    padding-bottom: calc(12px + 6 * (100vw - 320px) / 856);
  }
}
.big-table-main-content__item:not(:last-child) {
  margin-right: 8px;
}
@media (max-width: 1099.98px) {
  .big-table-main-content__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 8px;
  }
}
.big-table-main-content__item_little {
  flex: 0 0 107px;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  text-align: right;
  color: var(--green-600);
}
@media (max-width: 1099.98px) {
  .big-table-main-content__item_little {
    padding: 0;
    border-radius: none;
    border: none;
    box-shadow: none;
    flex: none;
    text-align: left;
  }
}
.big-table-main-content__item_big {
  flex: 1 1 auto;
  text-align-last: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  color: var(--black-900);
}
@media (max-width: 1099.98px) {
  .big-table-main-content__item_big {
    flex: none;
  }
}
@media (any-hover: hover) {
  .big-table-main-content a.big-table-main-content__item.big-table-main-content__item_big {
    transition: color 0.3s ease 0s;
  }
  .big-table-main-content a.big-table-main-content__item.big-table-main-content__item_big:hover {
    color: #e49800;
  }
}

.link-copiado {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.link-copiado__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.link-copiado__label:not(:last-child) {
  margin-bottom: 4px;
}
.link-copiado__button-container {
  width: 100%;
  min-height: 56px;
  overflow: hidden;
}
.link-copiado__button {
  padding-right: 18px;
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 2px solid var(--green-600);
  background-color: #daf8e6;
}
@media (any-hover: hover) {
  .link-copiado__button {
    transition: background-color 0.3s ease 0s;
  }
  .link-copiado__button:hover {
    background-color: #c1f1d4;
  }
}
.link-copiado__icon-discount {
  width: 72px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 0 72px;
  border-right: 1px dashed #767676;
}
.link-copiado__icon-discount:before, .link-copiado__icon-discount:after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid var(--green-600);
  background-color: var(--white);
}
.link-copiado__icon-discount:before {
  left: 100%;
  top: -7px;
  transform: translateX(-50%);
}
.link-copiado__icon-discount:after {
  left: 100%;
  bottom: -7px;
  transform: translateX(-50%);
}
.link-copiado__icon-discount svg {
  width: 36px;
  height: 36px;
}
.link-copiado__text {
  padding-left: 10px;
  padding-right: 20px;
  max-width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: var(--black-900);
}
.link-copiado__icon-copy {
  display: flex;
  align-items: center;
}
.link-copiado__icon-copy svg {
  width: 36px;
  height: 36px;
}
.link-copiado__dropdown {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  z-index: 4;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  box-shadow: var(--shadow-main);
  transition: opacity 0.3s ease 0s;
  background-color: var(--green-500);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--white);
}
.link-copiado__dropdown._active {
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 1099.98px) {
  .link-copiado__dropdown {
    margin-top: 2px;
  }
}

.big-table-item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: var(--shadow-main);
}
.big-table-item__header {
  min-height: 52px;
  padding-top: 14px;
  /* Если меньше контейнера */
  padding-right: 32px;
  /* Если меньше контейнера */
  padding-left: 32px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  border-radius: 16px 16px 0 0;
  border: 1px solid var(--white);
  background-color: var(--green-200);
  overflow-wrap: anywhere;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  color: var(--green-600);
}
@media (max-width: 1176px) {
  .big-table-item__header {
    padding-right: calc(14px + 18 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-item__header {
    padding-left: calc(14px + 18 * (100vw - 320px) / 856);
  }
}
.big-table-item__items {
  flex: 1 1 auto;
  background-color: var(--white);
  border-radius: 0 0 16px 16px;
}
@media (min-width: 1099.98px) {
  .big-table-item__items {
    overflow-y: clip;
  }
}
.big-table-item__line {
  margin-bottom: -1px;
  gap: 14px;
  padding-top: 14px;
  /* Если меньше контейнера */
  padding-right: 32px;
  /* Если меньше контейнера */
  padding-left: 32px;
  padding-bottom: 14px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: anywhere;
  font-size: 16px;
  font-weight: 400;
  line-height: 137.5%;
  color: var(--black-900);
}
@media (max-width: 1176px) {
  .big-table-item__line {
    padding-right: calc(14px + 18 * (100vw - 320px) / 856);
  }
}
@media (max-width: 1176px) {
  .big-table-item__line {
    padding-left: calc(14px + 18 * (100vw - 320px) / 856);
  }
}
.big-table-item__line strong {
  font-weight: 700;
}
.big-table-item__line a:not(.button) {
  color: var(--green-600);
  font-weight: 500;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .big-table-item__line a:not(.button):hover {
    text-decoration: none;
  }
}
@media (min-width: 1099.98px) {
  .big-table-item__line {
    border-bottom: 1px solid var(--grey-400);
  }
}
@media (max-width: 1099.98px) {
  .big-table-item__line:not(:last-child) {
    border-bottom: 1px solid var(--grey-400);
  }
}
@media (max-width: 767.98px) {
  .big-table-item__line_labels {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.big-table-item__line-left {
  text-align-last: left;
}
.big-table-item__labels {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .big-table-item__labels {
    justify-content: center;
  }
}
.big-table-item__labels-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 24px;
  border: 1px solid var(--grey-300);
  border-radius: 4px;
}
.big-table-item__labels-item img {
  display: block;
  max-width: 80%;
  max-height: 96%;
}
@media (any-hover: hover) {
  .big-table-item__labels-item {
    transition: transform 0.2s ease 0s;
  }
  .big-table-item__labels-item:hover {
    transform: translateY(-3px);
  }
}
.big-table-item__line-right {
  text-align: right;
}
.big-table-item__tipos-label {
  display: flex;
  align-items: center;
}
.big-table-item__tipos-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
  color: var(--black-900);
}
.big-table-item__tipos-text:not(:first-child) {
  /* Если меньше контейнера */
  margin-left: 18px;
}
@media (max-width: 1176px) {
  .big-table-item__tipos-text:not(:first-child) {
    margin-left: calc(12px + 6 * (100vw - 320px) / 856);
  }
}
.big-table-item .table-card-dropdown__link {
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 1339.98px) {
  .big-table-item .table-card-dropdown__body {
    right: -15px;
    transform: translate(0%, 12px);
  }
  .big-table-item .table-card-dropdown__body._active {
    transform: translate(0%, 5px);
  }
}

.table-content-card .table-content-card__place {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
}
.table-content-card .table-content-card__place:not(:last-child) {
  margin-right: 8px;
}
@media (max-width: 767.98px) {
  .table-content-card .table-content-card__place:not(:last-child) {
    margin-right: 16px;
  }
}

.table-content-card-copy-bonus .table-card-center__container {
  padding: 4px 20px 16px;
  gap: 12px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767.98px) {
  .table-content-card-copy-bonus .table-card-center__container {
    padding-top: 7px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .table-content-card-copy-bonus .table-card-center__container .link-copiado {
    width: 100%;
  }
  .table-content-card-copy-bonus .table-card-center__container .link-copiado .link-copiado__button-container {
    min-height: 32px;
  }
  .table-content-card-copy-bonus .table-card-center__container .link-copiado .link-copiado__button-container .link-copiado__button {
    min-height: 32px;
  }
  .table-content-card-copy-bonus .table-card-center__container .link-copiado .link-copiado__button-container .link-copiado__button .link-copiado__text {
    max-width: 170px;
  }
  .table-content-card-copy-bonus .table-card-center__container .button {
    min-height: 32px;
  }
}
.table-content-card-copy-bonus .link-copiado__label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: var(--black-900);
}
.table-content-card-copy-bonus .link-copiado__button-container {
  min-height: 26px;
}
.table-content-card-copy-bonus .link-copiado__button {
  padding-right: 10px;
  min-height: 26px;
  border-width: 1px;
}
.table-content-card-copy-bonus .link-copiado__icon-discount {
  width: 36px;
  min-height: 26px;
  flex: 0 0 36px;
}
.table-content-card-copy-bonus .link-copiado__icon-discount:before {
  border-width: 1px;
}
.table-content-card-copy-bonus .link-copiado__icon-discount:after {
  border-width: 1px;
}
.table-content-card-copy-bonus .link-copiado__icon-discount svg {
  width: 20px;
  height: 20px;
}
.table-content-card-copy-bonus .link-copiado__text {
  max-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.table-content-card-copy-bonus .link-copiado__icon-copy svg {
  width: 20px;
  height: 20px;
}
.table-content-card-copy-bonus .link-copiado__dropdown {
  margin-top: 3px;
  padding: 5px 8px;
  font-size: 14px;
}

.table-content-card-shadow {
  border: 2px solid #ffa800;
  box-shadow: 0px 0px 16px 0px rgba(255, 168, 0, 0.8);
}
.table-content-card-shadow .table-card-center__row .button {
  background-color: #ffa800;
  text-shadow: none;
  color: var(--black-900);
}
@media (any-hover: hover) {
  .table-content-card-shadow .table-card-center__row .button {
    transition: background-color 0.3s ease 0s;
  }
  .table-content-card-shadow .table-card-center__row .button:hover {
    background-color: #ffba2f;
  }
}
.table-content-card-shadow .table-content-card__show {
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #ffa800;
  box-shadow: 0px 4px 10px 0px rgba(255, 168, 0, 0.8);
}
.table-content-card-shadow .table-content-card__show:before {
  height: 2px;
  background-color: rgba(255, 168, 0, 0.8);
}