:root {
  --white: #ffffff;
  --black-900: #101010;
  --yellow-200: #ffea4d;
  --green-100: #e4f2ea;
  --green-150: #cde9d9;
  --green-200: #b7e3c9;
  --green-350: #4c966a;
  --green-500: #008837;
  --green-600: #006a2b;
  --green-700: #005020;
  --red-300: #da1612;
  --blue-400: #3c5bff;
  --grey-300: #e2e2e2;
  --grey-500: #929292;
  --grey-600: #767676;
  --grey-700: #525252;
  --shadow-main: 0px 2px 6px 0px #10101014;
  --shadow-text: 2px 2px 4px #003700;
  --background-page: var(--green-100);
  --font-family: "Poppins", sans-serif;
}

.popup-e {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 35;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup-e._active {
  pointer-events: auto;
  opacity: 1;
}
.popup-e._active .popup-e__body {
  transform: scale(1);
}
.popup-e__body {
  padding: 16px;
  margin: auto;
  max-width: 328px;
  width: 100%;
  border-radius: 10px;
  transform: scale(0.9);
  transition: transform 0.3s ease 0s;
  background-color: var(--white);
}
.popup-e__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-e__top-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  color: var(--black-900);
}
.popup-e__top-close {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
@media (any-hover: hover) {
  .popup-e__top-close:hover:before, .popup-e__top-close:hover:after {
    background-color: var(--grey-500);
  }
}
.popup-e__top-close:before, .popup-e__top-close:after {
  content: "";
  width: 16px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: background-color 0.1s linear 0s;
  background-color: var(--grey-600);
}
.popup-e__top-close:before {
  transform: rotate(45deg);
}
.popup-e__top-close:after {
  transform: rotate(-45deg);
}
.popup-e__content {
  padding-top: 16px;
}

.popup-e-labels {
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.popup-e-labels__item {
  width: 100%;
  overflow: hidden;
}
.popup-e-labels__item img {
  width: 100%;
}
@media (any-hover: hover) {
  .popup-e-labels__item {
    transition: transform 0.2s ease 0s;
  }
  .popup-e-labels__item:hover {
    transform: translateY(-3px);
  }
}