@import '../../../scss/config/_vars';
@import '../../../scss/config/_mixins';
@import '../../../scss/config/_ui';

.button {
  padding: 5px 20px;
  @include adaptiv-value('min-height', 55, 45, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;

  @extend %unselectable;

  font-weight: 600;
  @include adaptiv-value('font-size', 18, 16, 1);
  line-height: 22 / 18 * 100%;

  // .button._yellow
  &._yellow {
    background-color: var(--color-yellow);

    color: var(--color-dark);

    @media (any-hover: hover) {
      transition: background-color 0.2s ease 0s;

      &:hover {
        background-color: var(--color-yellow-hover);
      }
    }
  }

  // .button._loading
  &._loading {
    pointer-events: none;

    background-color: var(--color-light-button);
  }
}

.button-loading {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;

  div {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 2px;
    border: 2px solid var(--color-dark);
    border-radius: 50%;
    animation: animation-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-dark) transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes animation-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
