.checkbox-button {
  // .checkbox-button__input

  &__input {
    display: none;

    &:checked + .checkbox-button__label {
      &:after {
        transform: scale(1);
      }
    }
  }

  // .checkbox-button__label

  &__label {
    display: inline-block;
    position: relative;
    padding-left: 32px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18 / 14 * 100%;
    color: var(--color-grey);

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      width: 22px;
      height: 22px;
      top: -3px;
      left: 0;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid var(--color-item-border);
      background-color: var(--color-white);
    }

    &:after {
      width: 19px;
      height: 17px;
      top: -3px;
      left: 4px;
      pointer-events: none;
      transform: scale(0);
      transition: transform 0.2s ease 0s;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../../../../public/img/icon/checkbox.svg');
    }
  }
}
