%grid-template {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.form-register {
  gap: 30px;

  @extend %grid-template;

  // .form-register__column

  &__column {
    gap: 15px;

    @extend %grid-template;
  }

  // .form-register__row

  &__row {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  // .form-register__footer

  &__footer {
    @extend %grid-template;
  }

  // .form-register__login

  &__login {
    text-align: center;

    &:not(:first-child) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #dfdfdf;
    }
  }
}
