@import '../../../scss/config/_vars';
@import '../../../scss/config/_mixins';

$modalMobile: 479.98px;

%wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;

  @extend %wrapper;

  &._active {
    opacity: 1;
    pointer-events: auto;

    .modal__body {
      transform: translateY(0%);
    }
  }

  @media (min-width: $modalMobile) {
    padding: 30px 20px;
    display: flex;
    overflow: auto;
  }

  // .modal__body

  &__body {
    margin: auto;
    max-width: 479.98px;
    width: 100%;
    position: relative;
    z-index: 10;
    transform: translateY(-10%);
    transition: transform 0.3s ease 0s;
    border-radius: 10px;
    background-color: var(--background-page);

    @media (max-width: $modalMobile) {
      margin: 0;
      max-width: none;
      height: 100%;
      border-radius: 0px;
      overflow: auto;
    }
  }

  // .modal__header

  &__header {
    padding-top: 10px;
    @include adaptiv-value('padding-right', 40, 15, 1);
    @include adaptiv-value('padding-left', 40, 15, 1);
    padding-bottom: 10px;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;

    @media (min-width: $modalMobile) {
      border-radius: 10px 10px 0px 0px;
      background-color: var(--background-page);
    }

    @media (max-width: $modalMobile) {
      position: sticky;
      top: 0;
      backdrop-filter: blur(4px);
    }
  }

  // .modal__content

  &__content {
    padding-top: 20px;
    @include adaptiv-value('padding-right', 40, 15, 1);
    @include adaptiv-value('padding-left', 40, 15, 1);
    padding-bottom: 30px;
    background-color: transparent;
  }

  // .modal__wrapper

  &__wrapper {
    z-index: 5;
    background-color: var(--color-wrapper);

    @extend %wrapper;
  }
}

.modal-header {
  // .modal-header__title

  &__title {
    @include adaptiv-value('font-size', 26, 20, 1);
    font-weight: 600;
    line-height: 32 / 26 * 100%;
    text-align: center;
    color: var(--color-dark);
  }

  // .modal-header__close

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;

    color: var(--color-dark);
  }
}
