@import '../../../scss/config/_vars';
@import '../../../scss/config/_mixins';

.product-card {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--color-item-border);
  background-color: var(--color-white);

  // .product-card__label

  &__label {
    padding: 5px 15px;
    min-height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2;
    border-radius: 0px 10px 10px 0px;

    font-size: 14px;
    text-transform: uppercase;

    // .product-card__label_stock

    &_stock {
      background-color: var(--color-red);

      color: var(--color-white);
    }
  }

  // .product-card__row

  &__row {
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .product-card__image

  &__image {
    height: 180px;
    display: block;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 180px;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  // .product-card__colors

  &__colors {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // .product-card__title

  &__title {
    padding: 2px 0px;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18 / 14 * 100%;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // .product-card__actions

  &__actions {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .product-card__price

  &__price {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .product-card__footer

  &__footer {
    display: flex;
    align-items: center;
  }
}

.product-card-colors {
  // .product-card-colors__item

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  // .product-card-colors__link

  &__link {
    width: 20px;
    height: 20px;
    display: inline-flex;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;

    // .product-card-colors__item_purple

    &_purple {
      border-color: #8a018a;
      background-color: #990099;
    }

    // .product-card-colors__item_silver

    &_silver {
      border-color: #b7b7b7;
      background-color: #cccccc;
    }
  }
}

.product-card-actions {
  // .product-card-actions__rating

  &__rating {
    position: relative;

    &:before {
      content: '★★★★★';

      font-size: 18px;
      color: var(--color-rating-star-disabled);
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  // .product-card-actions__rating-active

  &__rating-active {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    font-size: 18px;
    color: var(--color-rating-star);

    &:before {
      content: '★★★★★';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .product-card-actions__reviews

  &__reviews {
    font-size: 14px;
    font-weight: 400;
    line-height: 16 / 12 * 100%;
  }
}

.product-card-price {
  // .product-card-price__item

  &__item {
    @include adaptiv-value('font-size', 16, 14, 1);
    font-weight: 500;
    line-height: 18 / 14 * 100%;
    color: var(--color-dark);

    &:not(:last-child) {
      margin-right: 15px;
    }

    &._stock {
      color: var(--color-red);
    }

    // .product-card-price__item_stock

    &_stock {
      text-decoration: line-through;
      color: rgba(60, 72, 82, 0.5);
    }
  }

  // .product-card-price__availability

  &__availability {
    @include adaptiv-value('font-size', 16, 14, 1);
    font-weight: 500;
    line-height: 18 / 14 * 100%;
    color: rgba(60, 72, 82, 0.5);
  }
}

.product-card-footer {
  // .product-card-footer__basket

  &__basket {
    padding: 5px 10px;
    width: 100%;
    min-height: 45px;

    font-size: 16px;

    svg {
      margin-left: 12px;

      path {
        stroke: var(--color-dark);
        stroke-width: 2px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  // .product-card-footer__favorite

  &__favorite {
    flex: 0 0 45px;
    height: 45px;
    background-color: transparent;

    svg path {
      transition: fill 0.2s ease 0s;

      stroke: var(--color-red);
      stroke-width: 2px;
    }

    &._active {
      svg path {
        fill: var(--color-red);
      }
    }
  }
}
