@import '../../../../../scss/config/_vars';
@import '../../../../../scss/config/_mixins';

.header-actions {
  display: flex;
  align-items: center;

  // .header-actions__item

  &__item {
    padding: 0px 20px;
    @include adaptiv-value('min-height', 100, 80, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;

    text-decoration: none;

    &:before,
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      opacity: 0.1;
      background-color: var(--color-white);
    }

    &:not(:last-child) {
      &:after {
        display: block;
        right: 0;
      }
    }

    &:first-child {
      &:before {
        display: block;
        left: 0;
      }
    }
  }

  button.header-actions__item,
  a.header-actions__item {
    @media (any-hover: hover) {
      transition: background-color 0.2s ease 0s;

      &:hover {
        background-color: var(--color-dark-hover);
      }
    }
  }

  // .header-actions__item-icon

  &__item-icon {
    display: flex;
    align-items: center;
    position: relative;

    svg path {
      stroke-width: 2px;
      stroke: var(--color-yellow);
    }

    @media (min-width: 1023.98px) {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    @media (max-width: 1023.98px) {
      svg {
        width: 24px;
        height: 24px;

        path {
          stroke: var(--color-white);
        }
      }
    }
  }

  // .header-actions__item-text

  &__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22 / 18 * 100%;
    color: var(--color-white);
  }

  // .header-actions__value

  &__value {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -14px;
    border-radius: 50%;
    border: 1px solid var(--color-item-border);
    background-color: var(--color-white);

    font-style: normal;
    font-size: 13px;
    font-weight: 600;
  }

  // .header-actions__authorization

  &__authorization {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      padding-left: 20px;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  // .header-actions__user

  &__user {
    padding-left: 20px;
    position: relative;
  }
}

.header-authorization {
  // .header-authorization__login

  &__login {
    padding: 6px 0px;
    background-color: transparent;

    @include adaptiv-value('font-size', 18, 16, 1);
    font-weight: 400;
    line-height: 22 / 18 * 100%;
    color: var(--color-white);

    &:not(:last-child) {
      @include adaptiv-value('margin-right', 30, 20, 1);
    }
  }

  // .header-authorization__register

  &__register {
  }
}

.header-user {
  padding-right: 0;

  // .header-user__button

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;

    &._active {
      .header-user__arrow {
        transform: rotate(180deg);
      }
    }
  }

  // .header-user__icon

  &__icon {
    svg {
      path {
        stroke-width: 2px;
        stroke: var(--color-yellow);
      }
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  // .header-user__text

  &__text {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-white);

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  // .header-user__arrow

  &__arrow {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease 0s;

    svg {
      path {
        stroke-width: 2px;
        stroke: var(--color-white);
      }
    }
  }

  // .header-user__dropdown

  &__dropdown {
    margin-top: -25px;
    padding: 8px 0px;
    min-width: 180px;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 6px;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
    transform: translateY(10px);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-item-border);
    background-color: var(--color-white);

    &._active {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0px);
    }
  }

  // .header-user__list

  &__list {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid var(--color-item-border);
    }
  }

  // .header-user__list-item

  &__list-item {
  }

  // .header-user__list-link

  &__list-link {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;

    font-size: 16px;
    text-decoration: none;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-item-hover);

        color: var(--color-dark);
      }
    }
  }

  // .header-user__exit

  &__exit {
    color: var(--color-grey);
  }
}

.header-basket {
  // .header-basket__button

  &__button {
    background-color: transparent;
  }

  // .header-basket__value

  &__value {
    font-weight: 600;
    line-height: 22 / 18 * 100%;
    @include adaptiv-value('font-size', 18, 16, 1);

    &:not(:last-child) {
      padding-right: 12px;
      margin-right: 12px;
      border-right: 1px solid rgba(60, 72, 82, 0.15);
    }
  }

  // .header-basket__row

  &__row {
    display: flex;
    align-items: center;
  }

  // .header-basket__icon

  &__icon {
    @media (min-width: 1023.98px) {
      svg path {
        stroke: var(--color-dark);
      }

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  // .header-basket__count

  &__count {
    font-weight: 600;
    line-height: 22 / 18 * 100%;
    @include adaptiv-value('font-size', 18, 16, 1);
  }
}
